.wrapper {
  border-bottom: 1px solid rgba(246, 246, 246, 1);
  &__even {
    background-color: #6f1f1318;
  }
  &__odd {
    background-color: white;
  }
  &__actionIconContainer {
    position: relative;
  }
  tr {
    cursor: pointer;
    td {
      padding: 19px 24px 19px 24px;
      font-weight: 400;
      font-size: 14px;
      line-height: 17.92px;
      letter-spacing: -2%;
      color: rgba(29, 41, 57, 1);
      text-transform: capitalize;
      div {
        display: flex !important;
        align-items: center;
      }
    }
  }
  &__actions {
    margin-right: 20px;
  }
  &__actionsDisabled {
    margin-right: 20px;
    svg {
      cursor: not-allowed;
      path {
        stroke: rgba(25, 25, 25, 0.2);
      }
    }
  }
}
