.strengthMeter {
  text-align: right;
  margin: auto;
  display: flex;
  align-items: center;
  align-items: center;
  justify-content: space-between;

  &__bar {
    -webkit-appearance: none;
    appearance: none;
    max-width: 433px;
    width: 80%;
    height: 4px;
    border-radius: 4px;

    &::-webkit-progress-bar {
      background-color: rgb(246, 241, 241);
      border-radius: 4px;
    }

    &::-webkit-progress-value {
      border-radius: 4px;
      background-size:
        30px 18px,
        100% 100%,
        100% 100%;
    }

    &--weak {
      &::-webkit-progress-value {
        background-color: #e20b07;
      }
    }

    &--fair {
      &::-webkit-progress-value {
        background-color: #ebbd04;
      }
    }

    &--good {
      &::-webkit-progress-value {
        background-color: #0b75ed;
      }
    }
    &--strong {
      &::-webkit-progress-value {
        background-color: #01a917;
      }
    }
  }

  &__label {
    font-size: 14px;
    white-space: nowrap;
    color: #0b0b0b;
    margin-left: 12px;

    &__text {
      margin-top: 0 !important;
      margin-bottom: 0 !important;
      line-height: 20px;
      letter-spacing: -2%;
    }

    &--weak {
      color: #e20b07;
    }

    &--fair {
      color: #ebbd04;
    }

    &--good {
      color: #0b75ed;
    }

    &--strong {
      color: #01a917;
    }
  }
  @media only screen and (min-width: 480px) {
    padding-top: 10px;
    &__label {
      font-size: 16px;
    }
  }
}
